<!-- write  *ngFor="let userPost of userPosts"
 
 
-->
<h2 class="custom-heading">User Post List</h2>
<button class="top-right-button" (click)="onNavigationBar()">Go to Home</button>
<input type="text" [(ngModel)]="filteredStatus" placeholder="Enter post type filter">
<input type="text" [(ngModel)]="filteredPostStatus" placeholder="Enter post status filter">
<div class="row cards-container">
  <div class="col-md-6 card-container" *ngFor="let userPost of userPosts | filter: filteredStatus | postStatusFilter:filteredPostStatus">
    <div class="card purple-card">
      <div class="card-header">
        Post Details
      </div>
      <div class="card-body">
        <h5 class="card-title">Post Id: {{userPost.id}}</h5>
        <p class="card-text">Posted On: {{getOneDayDate(userPost.postedon) | date:'yyyy-MM-dd'}}</p>
        <p class="card-text">Published On: {{getOneDayDate(userPost.publishondate) | date:'yyyy-MM-dd'}}</p>
        <p class="card-text">Published Time: {{userPost.publishontime}}</p>
        <p class="card-text">Posttype: {{userPost.posttype}}</p>
        <p class="card-text">PostContent: </p>
        <div *ngIf="userPost.posttype === 'Text'" class="card-body post-content">
          <p class="card-text">{{userPost.postcontexttext}}</p>
        </div>
        <div *ngIf="userPost.posttype === 'Image'" class="card-body">
          <img [src]="getImageUrl(userPost.postcontexttext)" class="card-img-top" alt="Image">
        </div>
        <div *ngIf="userPost.posttype === 'Video'" class="card-body">
          <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls>
              <source [src]="getVideoUrl(userPost.postcontexttext)" type="video/mp4">
            </video>
          </div>
        </div>
        <span class="card-text">PostAttachmentUrl: </span>
        <a class="card-text" [href]="userPost.postattachmenturl" target="_blank">{{userPost.postattachmenturl}}</a>
        <p class="card-text">poststatus: {{userPost.poststatus}}</p>
        <p class="card-text">userName: {{userPost.userName}}</p>
        <p class="card-text">socialnetworktype:{{userPost.socialnetworktype}}</p>
        <p class="card-text">isScheduled: {{userPost.isScheduled}}</p>
        <div *ngIf="isCancel(userPost)">
          <button class="btn btn-danger" (click)="cancelPost(userPost.id)">Cancel</button>
          
        </div>
      </div>
    </div>
  </div>
</div>



