<nav class="navbar sticky-top navbar-expand-md lav-color">

    <div class="container-fluid">

      <a routerLink="/" class="navbar-brand fs-6 initialism">Influentia</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

        <div class="navbar-nav Home-nav-list">

            <a class="nav-link" routerLink="/">Subscription</a>

            <a class="nav-link" routerLink="">Account</a>

            <a class="nav-link" routerLink="#">Content</a>

            <a class="nav-link" routerLink="/support">Support</a>

            <span class="mx-3"></span>

            <a class="btn btn-sm btn-outline-light" routerLink="/signup">SignUp</a>

            <a class="btn btn-sm btn-outline-light" routerLink="/login">Login</a>

        </div>

      </div>

    </div>
</nav>
<div class="image-container">
  <img src="assets/images/pngtree-hand-drawn-computer-online-education-learning-illustration-png-image_2166740.jpg" alt="image">
</div>