.beautiful-nav {
    background-color: #333; /* Set the background color*/ 
    color: white; /* Set the text color */
    padding: 20px;/* Add padding for spacing*/
    background: linear-gradient(to right, #ff4b2b, #ff416c); /* Apply a gradient background */
    animation: gradientAnimation 5s infinite; 
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%; /* Starting position of the gradient animation */
    }
    100% {
      background-position: 100% 50%; /* Ending position of the gradient animation */
    }
  }
  .navbar-nav .nav-link {
    margin-right: 50px; /* Adjust the value as per your preference */
  }
  
  .list-button {
    margin-right: 50px; /* Adjust the value as per your preference */
  }
  .full-width-height {
    width: 100%;
    height: 100%;
    
  }
  button.list-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.list-button:hover {
    background-color: #ff9800;
  }
  .welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .welcome-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .welcome-description {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .image-container {
    position: relative;
    margin-top: 56px; /* Height of the navbar */
    height: calc(100vh - 58px); /* Subtract the height of the navbar */
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .hi-soma {
    background-color: #6c757d;
    padding: 8px 16px;
    border-radius: 24px;
    margin-right: 16px;
  }
  
  .hi-soma-text {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }